name: build and push image pr
on:
  push:
    branches:
      - master
      - develop
  pull_request:

permissions:
  contents: read

jobs:
  build-and-push-image:
    permissions:
      contents: write  # for Git to git push
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Check out repository code
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Logging in to Docker
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2.2.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker Image Tags
        run: |
          img_version=$(jq -r .version package.json)
          echo "img_version=$img_version" >> $GITHUB_OUTPUT

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@818d4b7b91585d195f67373fd9cb0332e31a7175 # v4.6.0
        with:
          images: |
            rudderstack/action-hub
          tags: |
            type=raw,value={{ $img_version }}, enable=${{ github.event_name == 'push' && github.ref_name == 'master' }}
            type=raw,value=${{ github.head_ref }}, enable=${{ github.event_name == 'pull_request' }}
      - name: Build and push rudder-looker-actions
        uses: docker/build-push-action@1104d471370f9806843c095c1db02b5a90c5f8b6 # v3.3.1
        with:
          context:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
          build-args: |
            VERSION=${{ github.ref_name }}

      # Raise PR to devops

      - name: Initialize Mandatory Git Config
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "noreply@github.com"

      - name: Clone Devops Repo
        if: ${{ github.event_name == 'push' && github.ref_name == 'master' }}
        run: |
          git clone https://${{secrets.PAT}}@github.com/rudderlabs/rudder-devops.git

      - name: Raise PR to update image in production
        if: ${{ github.event_name == 'push' && github.ref_name == 'master' }}
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        run: |
          cd rudder-devops
          git checkout -b rudder-looker-actions-$img_version

          cd helm-charts/helm/looker-action-hub/environment/prod
          yq eval -i ".actionhubImage.image=\"rudderstack/action-hub:$img_version\"" base.yaml
          git add base.yaml
          git commit -m "chore: upgrade looker-action to $img_version"
          git push -u origin rudder-looker-actions-$img_version

          gh pr create --fill