name: Test and Report Code Coverage
on:
  workflow_call:
  pull_request:
    types: ['opened', 'reopened', 'synchronize']

permissions:
  contents: read

jobs:
  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 1

      - name: Setup Node
        uses: actions/setup-node@e33196f7422957bea03ed53f6fbb155025ffc7b8 # v3.7.0
        with:
          node-version-file: .nvmrc
          cache: 'npm'

      - name: Install Dependencies
        run: yarn install

      - name: Run Tests & Coverage
        run: |
          npm run test-coverage

      # - name: Run Lint Checks
      #   run: |
      #     npm run check:lint
      #     npm run lint:fix

      - name: Upload Coverage Reports to Codecov
        if: always()
        uses: codecov/codecov-action@eaaf4bedf32dbdc6b720b63067d99c4d77d6047d # v3.1.4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage

      - name: Fix filesystem paths in generated reports
        if: always()
        run: |
          sed -i 's+home/runner/work/rudder-looker-actions/rudder-looker-actions+/github/workspace+g' coverage/lcov.info
          # sed -i 's+/home/runner/work/rudder-auth/rudder-auth+/github/workspace+g' reports/eslint.json

      # - name: SonarCloud Scan
      #   if: always()
      #   uses: SonarSource/sonarcloud-github-action@v2.0.0
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.PAT }}
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
